.env
**/.env
**/Search_terms.csv 

# FAISS related files
**/*.index
**/*.faiss
**/faiss_indexes/
**/faiss_index/
**/*.faiss_index
**/faiss_index_evergreen/
**/faiss_index_non_evergreen/

# Specific FAISS directories
**/faiss_index/
**/faiss_index_testing/

# scraping keys
/Scraping/client_secret_851423732587-ujjvn72stl0tc9jui632qek5regt83ve.apps.googleusercontent.com.json
/Scraping/service_account.jsonnode_modules/
