:root{
    --base-color: white;
    --base-variant: black;
    --text-color: #242526;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
  }

.darkmode{
    --base-color: #242526;
    --base-variant: #a4a5b8;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

a {
    color: var(--base-variant);
}


#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg{
    fill: var(--primary-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 59%;
}

h1 {
    font-family: 'Arial';
    font-size: 30px;
}

head {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Puts space between image and text */
}

body{
    animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    -ms-animation: fadeIn 2.5s;
    

    text-align: left;
    background: var(--base-color);;
    color: var(--text-color);
    margin-top: -200;
    padding: 350;
    padding-bottom: 150;
}

.no-underline {
    text-decoration: none;
}

p {
    font-family: 'Georgia';
    font-size: 13px;
}

ul {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Georgia';
    font-size: 13px;
    line-height: 1.6;
}

.text {
    margin-top: 20px; 
}
