body {
    background-color:#FCFCFF;
    margin-top: 300px;
    margin-bottom: 100px;
    margin-right: 30%;
    margin-left: 35%;
}

h1 {
    font-family: 'Lucida Sans Regular', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color:#343434;
    

    text-align: left;
}